<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Probando componentes</title>
    <script src="./bootstrap.js" type="module"></script>
</head>
<body>
    <header>
        <h1>Probando componentes</h1>
    </header>
    <boton-comprar>
        <p slot="slot1">Comprar</p>
    </boton-comprar>
    <p slot="slot1">Gracias por confiar en nosotros</p>
    <div>
        <button>Conectar</button>
    </div>
</body>
</html>